.css-xvauwm {
    padding: 2em;
    margin: 0 16em;
    min-width: 300px;
    max-width: 300px;
    min-height: 0px;
    text-align: center;
    border-width: 1px;
    box-shadow: 0px 0px 30px #000;
    background: rgba(20, 20, 20, 0.80);
    min-height: 550px;
    margin-top:50px
}
@media screen and (max-width: 1000px) {
    .css-xvauwm1 {
        min-height: 400px;
        margin-bottom: 160px;
        margin-top: 10em;
    }
    .css-xvauwm {
        min-height: 400px;
        margin-bottom: 160px;
        
    }
}

.css-1r2mtbn {
    -webkit-padding-end: var(--chakra-space-8);
    padding-inline-end: var(--chakra-space-8);
    width: 100%;
    min-width: 0px;
    outline: 2px solid transparent;
    outline-offset: 2px;
  
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    padding-bottom: 1px;
    line-height: var(--chakra-lineHeights-normal);
    background: inherit;
    --select-bg: var(--chakra-colors-white);
    font-size: var(--chakra-fontSizes-md);
    -webkit-padding-start: var(--chakra-space-4);
    padding-inline-start: var(--chakra-space-4);
    height: 34px;
    border-radius: 6px;
    border: 1px solid;
    border-color: #ffffff;
}
.css-xev70e {
    font-size: 10px;
    color: #ffffff;
}

.css-bxak8j {
    margin-bottom: 2px;
}

.chakra-heading{
    color:darkorange;
    font-size:20px;
    margin-top:25px;
}

.chakra-text{
    color:white;
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
}

.css-xev70e {
    font-size: 24px;
    margin-top: 20px;
}
.chakra-select {
    color: white;
    width: 100%;
    min-width: 0px;
    outline: 2px solid transparent;
    outline-offset: 2px;
   
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid;
    border-color: #ffffff;
    background: #2d3748;
    -webkit-appearance: menulist-button;
    height: 40px;
}

@media screen and (min-width: 62em) {
    .css-1yecalt {
        min-height: 550px;
    }
}

select {
    padding-left: 16px;
    background: #2d3748;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}




.mainBox{
    margin-top:30px
}

.avatar {
    height: 50%;
    width: 50%;
    max-width: 400px;
    max-height: 400px;
    margin-top: 40px;
    margin-bottom: 45px;
}

.css-0{
    background-color:none;
}

.generateImage {
    position: absolute;
}